<p id="notice"><%= notice %></p>

<h2><%= link_to 'Lista Wishy', home_wishlist_path %></h2>

<table>
  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
			<% if ((wish.reciever == current_user.name) || (wish.reciever == current_user.fbname)) %>
				<td><%= link_to wish.name, wish %></td>
			<% end %>	
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wish', new_wish_path %>

