<p id="notice"><%= notice %></p>

<h2><%= link_to 'Lista Wishy', home_wishlist_path %></h2>

<table>
  <tbody>
    <% @wishes.each do |wish| %>
     
			<% if ((wish.reciever == current_user.name) || (wish.reciever == current_user.fbname)) %>
				<%= link_to "Wish from  #{wish.user.name}", wish, class: "btn btn-danger btn-outline"  %></td>
			<% end %>	
    
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Utwórz Wisha', new_wish_path %>

