<h1></h1>
<h4 style="text-align:left">Cześć,</h4>
	
<h4 style="text-align:left">Jara mnie projektowanie aplikacji wiralowych. Tworzę w Ruby on Rails. Nie znam JavaScript. Ale poznam. To moja pierwsza aplikacja. </h4>

	
	