<h1>Make a wish</h1>

<% if user_signed_in? %>
<p>Jestem Świętym Mikołajem -> <%= link_to "Find a Wish", wishes_path%></p>
<p>Chcę pomóc Świętemu Mikołajowi -> <%= link_to "Make a Wish", new_wish_path%></p>

<% else %>

<p>Daj się poznać</p>

<%= link_to "Zaloguj się", new_user_session_path %>

<%= link_to "Zarejestruj się", new_user_registration_path %>

<% end %>
