<div >

<% if user_signed_in? %>

<div class="jumbotron">
	<h1 style="opacity: 0.6;"><%= link_to "Make a Wish", home_intro_path %></h1>
</div>




<% else %>

<!-- <p>Daj się poznać</p>  -->



<div class="jumbotron">
	<h1 style="opacity: 0.6;"><%= link_to "Make a Wish", home_sign_path %></h1>
</div>



<% end %>

</div>
