
<h5>Jeśli nie wiesz co dać w prezencie swoim bliskim, albo nie wiesz czy Twój Mikołaj wie co dać Tobie, to
	aplikacja 'Make a Wish' jest właśnie dla Ciebie.</h5>
	
<h5>Jeśli chcesz pomóc Św. Mikołajowi w dobraniu Tobie prezentu, stwórz Wisha z wymarzonym prezentem, ukryj go pod kilkoma pytaniami i prześlij link do aplikacji Św. Mikołajowi.</h5>
	
<h5>Jeśli natomiat to Ty jesteś Św. Mikołajem, sprawdź czy nie ma dla Ciebie Wishów. Jeśli nie, to prześlij aplikację swoim wybrańcom, a następnie odgadnij Wisha i dowiedz się o jakim prezencie marzą.</h5>

<h2 style="text-align: left;"><%= link_to "Powodzenia!", root_path %></h2>
	
	