<div class="jumbotron">
	
<h4><%= link_to "To jest aplikacja wspomagająca pracę Św. Mikołaja." %> </h4>
<h3><%= link_to "Zdecyduj kim jesteś." %> </h3>


<table>
		<tr>
			<th><%= link_to "Jestem Świętym Mikołajem", 			wishes_path, 			class: "btn btn-danger btn-outline btn-lg"%></th>
			<th><%= link_to "Chcę pomóc Świętemu Mikołajowi", 			new_wish_path,   class: "btn btn-danger btn-outline btn-lg"  %></th>
		</tr>
		
</table>

</div>