<div class="jumbotron">

	<h2><%= link_to "Zdecyduj kim jesteś." %> </h2>
	<table>
		<tr>
			<th><%= link_to "Jestem Świętym Mikołajem", 			wishes_path, 			class: "btn btn-danger btn-outline btn-lg"%></th>
			<th><%= link_to "Chcę pomóc Świętemu Mikołajowi", 			new_wish_path,   class: "btn btn-danger btn-outline btn-lg"  %></th>
		</tr>
		
	</table>
</div>