<%= form_for [ @wish, @querry, @myanswer ] do |f| %>
	<div class="form-group">  
		<%= f.label :reply, "Twój strzał:"%><br/>
		<%= f.text_field :reply, class: 'form-control'  %>
	</div>
	<p>
		<%= f.submit 'Strzelaj', class: 'btn btn-danger btn-sm' %>
	</p>
<% end %>