// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
    padding-top: 25px; 
}


input[type="text"]{
background-color:#88b99f !important
}

input[type="text"]{
border-color:#cb2027 !important
}

a:link {
    color: #cb2027 !important
}

a:hover {
    
	text-decoration: none;
	color: #cb2027 !important
}

a:active {
    color: #cb2027 !important
}

